<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/web.css"/>
    {% seo %}
  </head>
  <body>
    <div class="hack container">
      {{content}}
    </div>
    <footer class="container site-footer">
      <nav>
        <p>
          <a href="https://twitter.com/{{site.author.twitter}}">Follow me on Twitter</a>
          /
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
        </p>
      </nav>
    </footer>
  </body>
</html>
